
.imagemparaguai{
    width: 125px;
}

.todo-cabecalho{
   display: flex; 
   background-color: rgb(181, 219, 255);
}

.cabecalho{
    display: flex;
}

.texto{
    margin-top: 55px ;
}
.lista{
    display: flex;
    text-align: end;
    margin-left: 800px;
  
}

.lista-item{
    padding: 30px;
    display: flex;
    text-align: end;
 
}

.corpo{
    background-image: linear-gradient(rgb(181, 219, 255), rgb(22, 85, 143));
    background-repeat:space;
    
}