.imagemparaguai{
    width: 125px;
}

.todo-cabecalho{
   display: flex; 
   background-color: rgb(181, 219, 255);
}

.cabecalho{
    display: flex;
}

.texto{
    margin-top: 55px ;
}
.lista{
    display: flex;
  
}

.lista-item{
    padding: 50px;
    flex: end;
}