.imagemparaguai{
    width: 125px;
}

.coluna{
   display: flex; 
}

.cabecalho{
    display: flex;
}

.texto{
    margin-top: 30px ;
}
.lista{
    display: flex;
  
}

.lista-item{
    padding: 50px;
}